/*normalize.css style...*/
/*open-color.css*/
/*font Open-Sans*/

:root {
  --text-color: var(--oc-white);
  --link-color: var(--oc-red-4);
  --link-color-hover: var(--oc-red-2);
  --link-color-visited: var(--oc-violet-7);
}

html, body {
  background-color: var(--oc-gray-8);
  color: var(--text-color);
  font-family: 'Open Sans', sans-serif;
  font-size: 16pt;
}

a {
  color: var(--link-color);
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  position: relative;
}
a:visited {
  color: var(--link-color-visited);
}
a:hover, a:focus,
a:visited:hover, a:visited:focus {
  color: var(--link-color-hover);
  font-weight: 700;
}
a:focus {
  outline: var(--link-color-hover) auto 5px;
}
a::before {
  content: "";
  background-color: var(--link-color);
  -webkit-transition: all 250ms ease-in;
  -moz-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height:10%;
}
a:visited::before {
  background-color: var(--link-color-visited);
}
a:hover::before, a:focus::before {
  background-color: var(--link-color-hover);
  width: 100%;
}
a::after {
  content: "";
  background-color: var(--link-color);
  -webkit-transition: all 250ms ease-in;
  -moz-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height:10%;
}
a:visited::after {
  background-color: var(--link-color-visited);
}
a:hover::after, a:focus::after {
  width: 100%;
  background-color: var(--link-color-hover);
}

body {
  display: grid;
}

.links {
  display: flex;
  align-items: stretch;
  text-align: center;
}
.links > div {
  flex: 1;
}

@media screen and (max-width: 916px) {
  .title {
    text-align: center;
  }
  .links {
    flex-direction: column;
  }
  .links > div {
    padding: 20px 0;
  }
}
